/* ==UserStyle==
@name        Sharepoint2016 Gray Chorme
@namespace   Hmm1
@version     1.1.1
@homepageURL https://github.com/stepanhakobyan/custom-user-scripts
@updateURL   https://github.com/stepanhakobyan/custom-user-scripts/raw/master/spserver2016-gray-chorme.user.css
@author      sts
==/UserStyle== */
@-moz-document url-prefix("https://spserver2016.armsoft.am/") {
    .ms-core-overlay {
        background-color: #d8d8d8;
    }
    .ms-comm-forumContainer {
        border-collapse: separate;
        max-width: 1200px;
    }
    .ms-comm-postBodyThreaded {
        background-color: white;
        padding: 10px;
        border: 1px solid gray;
    }
    .ms-rtestate-field {
        background-color: white;
    }

    
    div.s4-wpcell-plain.ms-webpartzone-cell.ms-webpart-cell-vertical.ms-fullWidth > div.ms-webpart-chrome.ms-webpart-chrome-vertical.ms-webpart-chrome-fullWidth {
        background-color: white;
    }
    div.s4-wpcell.ms-webpartzone-cell.ms-webpart-cell-vertical.ms-fullWidth > div.ms-webpart-chrome.ms-webpart-chrome-vertical.ms-webpart-chrome-fullWidth > div.ms-WPBorderBorderOnly {
        background-color: white;
    }
}